*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #707070;
  font-family: sans-serif;
}

.container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 414px;
  height: 736px;
}

.statusbar {
  border: none;
  background-color: #ffffff;
  background-image: url(../images/statusbar.png);
  height: 20px;
}

i{
  color: white;
  font-size: 1.5em;
  float: left;
  position: absolute;
  padding-top: 18px;
  padding-left: 18px;
}

.section1 {
  border: none;
  color: #ffffff;
  font-size:20px;
  background-color: #0056B3;
  text-align: center;
  line-height: 60px;
}

.arriving {
  border: none;
  background-color: #ffffff;
  height: 105px;
  padding-top: 23px;
  padding-left: 15px;
  padding-right: 15px;
}

#busnumber {
  background-color: #A36700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  margin-left: 20px;
  float: left;
  line-height: 61px;

}

#mins {
  background-color: #A36700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  float: right;
  line-height: 61px;
  margin-right: 25px;

}

.section2 {
  border: none;
  background-color: #0056B3;
  height: 90px;
  padding: 20px;
  padding-bottom: 10px;
}

.bs {
  border:none;
  color: #ffffff;
  font-size:20px;
  font-weight: lighter;
  text-align: center;
}

hr {
  width: 340px;
  height: 1px;
}

.ws {
  border:none;
  color: #ffffff;
  font-size:20px;
  text-align: center;
}

.headings {
  border:none;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #A36700;
  color: white;
  padding-left: 20px;
}

.headings li {
  display: inline;
}

.dest {
  padding-left: 43px;
}

.time {
  padding-left: 145px;
}

.section3 {
  background-color: #ffffff;
  width: 414px;
  height: 400px;
  overflow: overlay;
  padding-left: 20px;
  padding-right: 20px;
}

::-webkit-scrollbar {
display: none;
}

.margin {
  margin-bottom: 50px;
}

.direction {
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.section3 li {
  display: inline-block;
}

.li-line {
  color: #000000;
  text-align: center;
  width: 50px;
  height: 50px;
  float: left;
  font-size: 17px;
  padding-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.li-dest {
  color: #000000;
  width: 245px;
  height: 50px;
  float: left;
  font-size: 20px;
  font-weight: 500;
  padding-left: 30px;
  padding-top: 8px;
  border-radius: 4px;
}

.li-eta {
  color: #000000;
  text-align: center;
  width: 79px;
  height: 50px;
  float: left;
  font-size: 17px;
  padding-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.li-freq {
  color: #545459;
  font-size: 12px;
  float: left;
  margin-left: 80px;
  margin-top: -18px;
}

.reroute {
  background-color: #FF0533;
}

.fade {
  opacity: 0.5;
}

.out {
background-color: #99999f;
}
